[2014-02-22 15:05] o-smirnov opened #2 "setting MS=foo.MS/ (trailing slash) breaks templates"
Not sure if this is a bug or not really -- should ${MS:BASE} evaluate to "foo" when MS is "foo.MS/"?

[2014-02-26 09:03] IanHeywood opened #3 "Arbitrary tags in lsm.pybdsm_search"
A minor feature request here: being able to pass an arbitrary list of PyBDSM (.gaul) columns as an lsm.pybdsm_search argument and have the resulting Tigger model include them as custom tags would be very useful. Thanks.

[2014-07-07 15:39] o-smirnov opened #4 "Failed to write to pyxis.log when running in a directory w/o write permissions"
Better behaviour is just to not write to the log.

[code]

[2014-08-27 10:30] SpheMakh opened #5 "Loading Pyxis recipes from a different directory"
1) Add feature to pyxis that allows one to load a pyxis recipe from a different directory.
2) Allow a pyxis-*.conf file to be specified on the command line.

[2014-09-24 08:49] o-smirnov opened #6 "pyxs --help doesn't work"
Help option in option parser appears to be disabled, wonder why? Was it deliberate?

[2014-09-24 08:50] o-smirnov opened #7 "pyxis -o outdir doesn't work"
...or at least is not equivalent to pyxis OUTDIR=outdir

[2014-10-27 16:18] o-smirnov opened #9 "need to refactor imager.py for multiple imager support"
Starting this as a placeholder for know -- maybe discuss and firm up a design here?

I'm thinking of something like an im/ module for different imagers. So

im.lwimager.make_image
im.casa.make_image
im.wsclean.make_image
im.moresane.make_image
im.mt_imager.make_image  # let's not forget this one

etc.

imager.make_image() & other functions still exist (need to be backwards-compatible!), and map to

[2014-11-05 15:45] #7 closed, assigned to o-smirnov

[2014-11-05 15:49] o-smirnov opened #10 "Need --wrapup option for finalization commands"
gce.wrapup currently fails if the pipeline is run before, but the wrapup command is executed after midnight. This is due to OUTDIR being re-evaluated.

Proper solution is to execute a wrapup in the same pyxis session. Need to add a --wrapup command option for this -- i.e. execute this pyxis command at the end, regardless of whether the rest of the command chain succeeded or failed.

[2014-11-06 09:09] #6 closed, assigned to o-smirnov

[2014-11-06 09:15] #10 closed, assigned to o-smirnov

[2014-11-06 09:16] #4 closed, assigned to o-smirnov

[2014-11-06 10:34] o-smirnov opened #11 "add a wrapper for the AIPS IMAGR task"
I think Ian has volunteered to do this...

[2014-11-11 11:54] #5 closed, assigned to o-smirnov

[2014-11-12 14:08] o-smirnov opened #12 "add explicit screen support"
I'm tired of losing my long pyxis jobs. Must add the capability to automatically run itself inside a screen session if a command-line option or magic variable is specified.

[2014-11-12 14:34] #12 closed, assigned to o-smirnov

[2014-11-20 14:51] o-smirnov opened #14 "add check for JVLA-in-India bug in ms.prep (and/or in ms.from_uvfits)"
See https://github.com/ratt-ru/calibration-pipelines/issues/12: there is a bug in the UVFITS filler which causes the Y axis in the ANTENNA table to be flipped in sign. Need to add a check for this to ms.prep and ms.from_uvfits.

Unfortunately, it's not clear if this affects all UVFITS files or just the JVLA ones. So perhaps the logic should be: if observatory is VLA/EVLA/JVLA, and sign of Y is pos

[2014-11-25 12:09] #14 closed, assigned to o-smirnov

[2014-12-01 12:47] #9 closed, assigned to sphemakh

[2014-12-02 15:31] SpheMakh opened #16 "importing im modules without setting MS"
![im_wsclean](https://cloud.githubusercontent.com/assets/6624280/5265152/fd668b8a-7a48-11e4-9604-a6df02827c68.png)

[2014-12-08 13:28] SpheMakh opened #17 "add SoFiA wrap"
add function lsm.sofia_search()

[2014-12-18 19:28] modhurita opened #19 "Does addcol in argo.py know the shape of an element of a column from the column name?"
For a simulated MS, if I add a BITFLAG_ROW column:

And then do:

t.getcol('BITFLAG_ROW').shape

I get:

On the other hand, for the 3C147 data:

t.getcol('BITFLAG_ROW').shape

gives

I guess I am supposed to use the shape parameter of addcol to specify the shape of an element? How do I tell it that each element has to be a scalar?

[2014-12-22 09:21] SpheMakh opened #21 "rouge lsm.py file"
Is there a reason for  having this copy of [lsm.py](https://github.com/ska-sa/pyxis/blob/devel/lsm.py) outside of Pyxides?

[2014-12-22 09:34] #21 closed, assigned to nobody

[2014-12-23 10:05] o-smirnov opened #22 "replace addImagingColumns() with lwimager in ms.prep"
See https://github.com/ska-sa/lwimager/issues/3. Enough of this AIPS++-inherited tyranny of obscure bugs, add the workaround to ms.prep and stay blissfully ignorant of this shit forever.

[2014-12-24 11:29] SpheMakh opened #23 "add option to tile XXX_DATA to argo.addcol()"
As requested by @o-smirnov:
The xxx_DATA columns can be "tiled" for performance reasons. I don't know if there's a way to create a tiled column from pyrap, at least there wasn't one at the time, so I wrote the addtiedmscol utility (in C++) to do this. You might want to integrate that into addcol() somehow.

[2015-01-28 17:27] SpheMakh opened #24 "RunTimeError when setting MS variable if MS doesn't exist."
This is not good when running a simulation, because I usually set the MS name before I create the MS. I'm not sure why this happens since the line in question (line 462 in *ms.py*) is within a try-catch clause.
![ms_issue](https://cloud.githubusercontent.com/assets/6624280/5942958/a1f29296-a723-11e4-99c6-24e3c3426bc2.png)

[2015-01-28 18:00] o-smirnov commented on #24
Ah, but there's a ```traceback.print_exc()``` in the except clause there which prints the exception anyway, just for the user's reference. So this is annoying but harmless. I should add a print statement after print_exc() though to clarify this situation, since the output looks exactly like a fatal error.

Better yet: add this at line 460 (can't check it myself at the moment)

[code]

for a kinder

[2015-01-28 18:08] SpheMakh commented on #24
Done

[2015-01-28 18:08] #24 closed

[2015-01-28 18:12] o-smirnov commented on #24
Wow, quick. :)

On Wed, Jan 28, 2015 at 8:08 PM, Sphesihle Makhathini <
notifications@github.com> wrote:

[2015-02-10 11:06] #19 closed

[2015-02-10 11:06] #22 closed

[2015-02-10 11:06] #17 closed

[2015-02-10 11:49] SpheMakh commented on #16
I think this was fixed here: https://github.com/ska-sa/pyxis/commit/65efe3a71cbe20ff844969fca0f4c15b3ca23e31

[2015-02-10 11:49] #16 closed

[2015-02-18 10:35] o-smirnov opened #26 "when LOG is not set, error reporting in per_ms produces its own error"
[code]

[2015-02-18 12:23] #26 closed

[2015-02-25 14:19] Ermiasabebe opened #27 "Add casa 3.4 support"
Hi Folks,

The pyxis doesn't support the data reduced by CASA Version 3.4. So, can you make pyxis to support  CASA Version 3.4.0 ?

[2015-02-25 14:32] o-smirnov commented on #27
Perhaps, but could you be a bit more specific please i.e. what is the exact problem? I.e. what commands are you running and what are the error messages?

[2015-02-25 14:52] Ermiasabebe commented on #27
I have a kat-7 data set, which I was able to image with casa 3.4. But I'm not able to image it using pyxis; I've tried all the available imagers (casa,lwimager and wsclean). This is the error I get using casa:
[code]

and this from lwimager:
[code]
You can find the data set on elwood:/home/kassaye/KAT_sources/3C147_whole_Concate.MS

[2015-02-26 08:08] IanHeywood commented on #27
To make a CASA image, I think Pyxis will just be invoking whatever version of CASA starts when you run casapy, so I don't think this is a Pyxis bug. If lwimager and wsclean also refuse to process it then I suspect there's a problem with the Measurement Set.

I can try to take a look, but I don't have permission to access the MS.

[2015-02-26 09:28] o-smirnov commented on #27
Yeah it's something funny with this MS. The SPECTRAL_WINDOW subtable, which contains the frequency information, lists two spectral windows with completely identical frequencies, except one is marked with a MEAS_FREQ_REF of 0, the other with 5 (these are reference codes for the different frequency reference frames). It's the 0 that makes all imagers unhappy, changing it to 5 (or imaging spw 1) make

[2015-03-02 09:25] gijzelaerr opened #29 "setup script doesn't install submodules"
Original issue:

https://github.com/radio-astro/pyxis-debian/issues/1

Some new submodules are not installed by the python setup script. The 'packages' statement in the setup function is not recursive, you need to manually add every (sub) package. I'll do this and issue a new release (1.4.1)

[2015-03-02 14:33] gijzelaerr commented on #29
this issue has been resolved.

[2015-03-02 14:33] #29 closed

[2015-03-02 16:07] modhurita opened #30 "pybdsm_search in lsm.py does not work in polarized mode"
I am using a modified version of a section of the 3C147 pipeline to run pybdsm in polarized mode:

     lsm.tigger_convert("${lsm.PYBDSM_OUTPUT} $DESTDIR/$LSMBASE$SUFFIX+pybdsm-apparent_${i}.lsm.html -f");

Looking at the help for `pybdsm_search` (and looking at lsm.py), I gathered that all I needed to change to make pybdsm find polarization properties from an all-Stokes image was to set `pol=True

[2015-03-02 16:23] o-smirnov commented on #30
Try it wish the fix I just pushed. Problem was a missing space on the command-line invocation, when adding polarization parameters...

[2015-03-02 16:48] modhurita commented on #30
That doesn't fix it, and now even the gaul file doesn't have any polarization values - the last column is the `S_Code` one.

[2015-03-02 19:11] o-smirnov commented on #30
My change only affects the format string passed to tigger-convert (in the old version, ```S_Code``` and ```q``` were stuck together, thus upsetting the order of the polarization fields). If the gaul file has no QUV, that's earlier on -- that means PyBDSM itself is invoked without the polarization flags. Are you still passing pol=True properly?

[2015-03-02 19:26] modhurita commented on #30
Yes, the log says `polarisation_do=True`, but it isn't computing polarization properties any more:

--> Opened 'img_0.fits'
Image size .............................. : (512, 512) pixels
Number of channels ...................... : 1
Number of Stokes parameters ............. : 4
Beam shape (major, minor, pos angle) .... : (0.0047, 0.00298, 80.8) degrees
Frequency of image ...................... : 14

[2015-03-03 09:14] o-smirnov commented on #30
OK, try running pybdsm interactively and give it the same command. Something else must've changed, you can look at my commit, https://github.com/ska-sa/pyxis/commit/40a67c3b3d78d6714d80d7acc9f4df35581d355b, it has nothing to do with pybdsm invocation per se.

[2015-03-03 10:05] o-smirnov opened #31 "add support for multiple OBSERVATION_IDs"
@Ermiasabebe has a KAT-7 MS that contains multiple observations of the same object stuck together. These are differentiated by the OBSERVATION_ID column. It is an easy matter to process them one by one by setting the TDL option  ```ms_sel.ms_taql_str = OBSERVATION_ID==N```. However, it would be very nice to add explicit observation ID support to Pyxides.ms and Pyxides.mqt (as is already done for D

[2015-03-03 14:29] modhurita commented on #30
Pybdsm in interactive mode works as expected:

Non-default input parameters in interactive mode:

filename ....... 'img_0.fits'
polarisation_do ....... True
thresh_isl ............ 15.0
thresh_pix ............ 50.0

Pybdsm output:

Image size .............................. : (512, 512) pixels
Number of channels ...................... : 1
Number of Stokes parameters ............. : 4
Beam shape (ma

[2015-03-31 13:52] Ermiasabebe opened #35 "im.argo to combine fits and convert fits to casa images"
@SpheMakh:  I wanted to combine two or more fits files; I used the option: "pyxis
im.argo.combine_fits [fitslist,outname='combined.fits',axis=0]" since it is
 under im/argo.py. But it doesn't give me the output. For other options, like
 fits2casa (input,output) and etc, is still giving me no output. Do I miss
something ?

I want to combine the two fits files along xaxis = 0. so I run the command i

[2015-03-31 14:47] SpheMakh commented on #35
Could you describe how you want to combine the FITS files (e.g along which
axis), and include the comand that you ran.

Sent from Samsung Tablet
On 31 Mar 2015 3:53 PM, "Ermiasabebe" <notifications@github.com> wrote:

[2015-03-31 19:55] SpheMakh commented on #35
You added your response to your initial comment, which meant I didn't get the notification :). Ayhoo...
In the first command; you need to give the images you are combining as a list/tupple and not as separate arguments, i.e.
[code]
I'm not sure why im.argo.fits2casa is not working for you. Does it report an error?

[2015-04-09 12:35] SpheMakh commented on #35
This has been fixed

[2015-04-09 12:35] #35 closed

[2015-04-09 12:53] modhurita opened #36 "Add error column(s) in LSM"
An LSM file should have a column (or columns, for the full-Stokes case) containing the flux density errors (which are reported by pybdsm in the .gaul file).

This is related to issue #3.

[2015-04-09 12:59] modhurita commented on #36
Closing this issue as this is the same as [this one](https://github.com/ska-sa/tigger/issues/48).

[2015-04-09 12:59] #36 closed

[2015-04-20 09:30] o-smirnov opened #38 "update Pyxides/lsm.py for tigger-convert with intrinsic gaul support"
Once the fix for https://github.com/ska-sa/tigger/issues/48 is merged into master, need to update lsm.py to take advantage of the new tigger-convert features:

* .gaul files are now imported automatically, and the field order is picked up from the header. No need to do kludgy stuff in pybdsm_search(), can just directly invoke tigger-convert

* can get rid of verifyGaulList() since this functionali

[2015-04-23 08:20] Trienko opened #39 "lwimager: cleaning with mask seems to fail"
Could someone please advise in what could be going wrong, I am trying to clean with a mask.
I have successfully called  imager.make_threshold_mask to make the mask, the mask fits file also
exists. The imager variable is MASK_IMAGE is also set to this file. When I then call make_image it
fails saying that MAKS_IMAGE is defined. What am I doing wrong?

[code]

[2015-04-23 09:25] SpheMakh commented on #39
This looks like a bug in pyxis. However, it should only be triggered if your mask is not a FITS file. Could you post the commands that you ran, to make and use the mask?

[2015-04-23 10:28] Trienko commented on #39
thresh = peak_flux*0.08
print "thresh = ",thresh
#mask_im is a fits file
imager.make_threshold_mask(input=mask_im,threshold=thresh) # make mask
imager.make_image(column=column,dirty=options,restore=options,restore_lsm=False,mask=True)

[2015-04-23 10:29] Trienko commented on #39
thresh = peak_flux*0.08
print "thresh = ",thresh
#mask_im is a fits file
imager.make_threshold_mask(input=mask_im,threshold=thresh) # make mask
imager.make_image(column=column,dirty=options,restore=options,restore_lsm=False,mask=True)

[2015-04-23 15:00] SpheMakh commented on #39
I still haven't answered Trienko :).
you are passing a boolean as a clean mask. Try, `mask=mask_im` in
`
imager.make_image(column=column,dirty=options,restore=options,restore_lsm=False,mask=True)
`

[2015-04-23 18:03] Trienko commented on #39
Works...
On 23 Apr 2015 5:00 PM, "Sphesihle Makhathini" <notifications@github.com>
wrote:

[2015-04-23 18:05] SpheMakh commented on #39
Cool.

[2015-04-23 18:05] #39 closed

[2015-04-23 18:08] Trienko commented on #39
:-)
On 23 Apr 2015 8:05 PM, "Sphesihle Makhathini" <notifications@github.com>
wrote:

[2015-05-29 16:31] o-smirnov opened #41 "reverse order of Stokes/freq axes in im.wsclean"
im.wsclean currently assembles the cubes as RA,DEC,FREQ,STOKES. lwimager and CASA produce tham as RA,DEC,STOKES,FREQ.

It would be useful to make im.wsclean follow the CASA ordering, since it simplifies e.g. image arithmetic in Tigger.

[2015-06-02 12:05] SpheMakh commented on #41
This is something that is always a pain to deal with. But the culprit is not wsclean, its lwimager and MeqTrees (uv-brick). CASA, wsclean and most packages I've used follow the convention RA,DEC,FREQ,STOKES.

Which convention should we use when making images in pyxis?

[2015-06-02 12:06] o-smirnov commented on #41
Ah really? Now that I hadn't realized... lt me think about that...

On Tue, Jun 2, 2015 at 2:05 PM, Sphesihle Makhathini <
notifications@github.com> wrote:

[2015-06-02 12:31] IanHeywood commented on #41
Hold up because it gets worse, and CASA isn't even internally consistent. FITS images produced by CASA's exportfits task are RA,DEC,FREQ,STOKES but the CASA format images that the imager creates are RA,DEC,STOKES,FREQ.

The best course of action is probably to assume nothing and read the ordering from the image header each time.

[2015-06-02 12:59] Ermiasabebe opened #42 "Gain plot error during selfcal"
After meqtee-pipeliner.py succesful, there is a problem in the gain plots. As a result of this, the script will not proceed. The errors in the log are:

 gg = numpy.transpose(sols[j],(xaxis,yaxis))

ValueError: axes don't match array

File "/usr/local/meqtrees/Cattery/Pyxides/stefcal.py", line 186, in stefcal

plotfail("plot routine failed, see exception above");

I saw the script  stefcal.py but

[2015-06-02 13:16] o-smirnov commented on #41
Yeah but here the question is, if Sphe is forming up those FITS files in a
script anyway, what ordering must he use?

On Tue, Jun 2, 2015 at 2:31 PM, IanHeywood <notifications@github.com> wrote:

[2015-06-02 13:17] SpheMakh commented on #41
As we say in isZulu, "Insumansumane le".
I assumed that CASA was at least self consistent; I thought the `exportfits` convention was the CASA convention.

[2015-06-02 13:20] o-smirnov commented on #41
Is that translated as "if a man unwisely uses CASA, he deserves the shit he
gets"?

On Tue, Jun 2, 2015 at 3:17 PM, Sphesihle Makhathini <
notifications@github.com> wrote:

[2015-06-02 13:25] SpheMakh commented on #41
he he he, that is quite close though. Its translated as "A situation which is beyond comprehension"

[2015-06-02 14:25] SpheMakh commented on #42
I also get this error sometimes. We need to chase this down

[2015-06-02 14:33] Sebokolodi commented on #42
If you don't anything to do with those plots for the time being.
Obtain a stefcal script in elwood/home/sebokolodi/pipeline/applied-sourcery/stefcal.py

It has those lines commented out. #hides

Cheers,
Lerato

     On Tuesday, June 2, 2015 4:25 PM, Sphesihle Makhathini <notifications@github.com> wrote:

 I also get this error sometimes. We need to chase this down—
Reply to this email directly or

[2015-06-02 15:00] o-smirnov commented on #42
Nothing wrong with a pragmatic solution, but you should report the error as well!

Two problems here, one that the plot failure should have been be reported as a warning and not an outright failure. The warning mechanism itself threw an exception. This has been fixed by https://github.com/ska-sa/meqtrees-cattery/commit/6ad92858d3f2b80fbfd09674dc2fd02a2984dfd0

The other problem is the actual plot

[2015-06-02 22:39] IanHeywood commented on #41
I've always held RA,DEC,FREQ,STOKES to be the proper order because that's the way AIPS does it, and also that's ordering the axes in descending order of how often astronomers care about them (RA and DEC occupying the joint first position).

[2015-06-03 08:58] o-smirnov commented on #41
Well I find that very hurtful, as I care very deeply about the Stokes axis!
If only because it fucks me over so often -- I guess it's Stockholm
syndrome.

Anyway, I guess the only solution is to create a little tool to reorder
axes in a FITS file. ``fitstool.py`` in Owlcat is a logical recipient for
this functionality...

On Wed, Jun 3, 2015 at 12:39 AM, IanHeywood <notifications@github.com>
wrote

[2015-06-03 09:19] SpheMakh commented on #41
I've written a function that does this ( `im.argo.swap_stokes_freq`). But maybe this is the time to move this function as well as other FITS file related functions to `fitstool.py`.

[2015-06-03 09:22] SpheMakh commented on #41
In fact they are couple of functions in `im.argo` that really ought to be moved elsewhere, like the `addcol` function should really be in `ms`. Its time to clean up after younger me. I'll create a branch for this, and hopefully be done in a few days.

[2015-06-03 09:47] IanHeywood commented on #41
*"You may not be interested in the polarization, but the polarization is interested in you."*

Also:

[code]

Sphe, can you translate this please? I'm going to get a t-shirt made.

[2015-06-04 18:09] SpheMakh opened #43 "Operation Fiela"
Hopefully the SA Police don't sue me for plagiarism.

Tie up loose ends in the `im.py` module and find appropriate homes for some functions in `im.argo`.

Expand `owlcat/fitstool.py` functionality.
* Stack/unstack FITS images
* Swap STOKES/FREQ axes
* Add Axis to a FITS image. Something like this would be useful
[code]
Especially if you want to predict visibilities from an image which is not made

[2015-06-04 18:10] SpheMakh commented on #41
@IanHeywood give me a few days to come figure out the correct phrasing.

[2015-06-12 10:59] Ermiasabebe opened #44 "Absence of model, residual and psf image during interactive calibration in meqtrees"
Hi all,lean

When I do calibration with meqtress interactively it will not produce the model, residual and psf images; it only produces the corrected residual or clean image when executing the "Make a clean image" button. Actually I have observed this recently. Is there something that must be adjusted ?

[2015-06-12 11:00] o-smirnov commented on #44
No, it's a limitation of interactive mode (you can produce a psf image manually in interactive mode too). If you want all images as a matter of course, you must use pyxis.

[2015-06-12 11:00] #44 closed

[2015-06-13 22:26] SpheMakh opened #46 "importing `im.argo` when MS is not set"
I got this error when I import `im.argo` when MS is not set.
[code]
This is the offending statement in `im.argo` : register_pyxis_module(superglobals="MS LSM")

How can I avoid this?

[2015-06-13 23:19] o-smirnov commented on #46
Dammit, another bug at line 666...

On Sun, Jun 14, 2015 at 12:26 AM Sphesihle Makhathini <
notifications@github.com> wrote:

[2015-06-14 08:09] #46 closed

[2015-06-14 08:10] o-smirnov commented on #46
Please test if it works for you though.

[2015-06-14 12:56] SpheMakh commented on #46
I works :)

[2015-06-23 21:22] SpheMakh commented on #43
Fixed in 33de76e7745ce96beb78212580d75233e80cebbd
@o-smirnov see `keep_component_images` option in `im.wslean.make_image()`

[2015-06-23 21:22] #43 closed

[2015-06-23 21:35] SpheMakh commented on #43
[owlcat:fiela](https://github.com/ska-sa/owlcat/tree/fiela) will have to be merged before these changes.

[2015-08-07 01:46] IanHeywood opened #47 "mqt.run: args doesn't like spaces"
Trying to pass the following TaQL string to stefcal via the args switch in mqt.run:

[code]

but the process bails out because it just selects the SCAN_NUMBER part. I've tried enclosing quotes (single and double) and backslash-spaces. Parameters with spaces in the tdlconf file itself are interpreted fine.

Am I missing a trick or is this a bug?

Here's my filthy stopgap solution:

[code]

[2015-08-07 02:04] IanHeywood opened #48 "stefcal improper channel selection memory guzzler"
I guess this deserves the bug tag, but it's as much a careless user bug as a software bug.

I'm selecting channels via ms_sel.ms_channel_end and ms_sel.ms_channel_start and running (phase only) stefcal via mqt.run. If I select an end channel that's higher than the number of the final channel in the MS then the memory usage just runs away into swapsville and I have to kill the process. Equal sized

[2015-08-10 16:21] Ermiasabebe opened #49 "Gain plots for XX and YY correllations"
The calibration process goes well except  warning during the plot routine (unable to get the plots). The reason, as I suspect, is the MS data has no XY and YX correlations. The error in the log is:

""""
2015/08/10 17:10:08 PYXIS: /bin/cp succeeded
2015/08/10 17:10:09 INFO: loading gain solutions from Deep-field-10s2ch-DD4/plots-Deep_field-cal-10s2ch/Deep_field-cal-10s2ch_s2.gainspw0.cp
2015/08/10

[2015-08-13 01:12] IanHeywood opened #50 "stefcal / mqt.run: DEBUG messages in terminal window"
Running stefcal via mqt.run:

When stefcal_gain.implementation = GainDiagPhase the calibration finishes in seconds.
When set stefcal_gain.implementation = GainDiag it takes waaaay longer and loads of DEBUG messages get dumped to the terminal.

Both cases when run via the browser finish happily in comparable times. I'm guessing the debug message logging is what's causing the hold up as these don't

[2015-08-13 10:16] o-smirnov commented on #50
That's odd -- what messages exactly? Could you paste an example please?

[2015-08-14 00:25] IanHeywood commented on #50
I'll try to recreate the problem on my laptop. Failing that I can post the exact messages on Monday, when I will next have access to the machine it's running on.

It was [these print statements](https://github.com/ska-sa/meqtrees-cattery/blob/devel/Cattery/Calico/OMS/StefCal/StefCal.py#L683-L708) that were being triggered though.

[2015-08-14 09:20] o-smirnov commented on #50
Ah, the dprint(0,...) ones can be safely commented out. My bad, I was chasing down a problem and left them in when I committed changes.

[2015-08-19 01:42] IanHeywood commented on #50
OK it's gone silent but it's still slow as hell compared to phase-only and a browser run.

[2015-08-20 00:26] IanHeywood commented on #50
Embarassing user error #42,426:

Typo on my part that was making it revert to a per time slot, per channel solution in the GainDiag case.

Status: I need a holiday.

[2015-08-20 00:26] #50 closed

[2015-08-20 06:55] o-smirnov commented on #50
Well at least we killed the unnecessary debug output. :)

[2015-08-25 11:48] Ermiasabebe opened #53 "Applying primary beam led to subtracting the model sources totally"
When I use primary beam model in my calibration pipeline, there will be a negative flux density in the residual image at the positions of the initial model sources. In other words, there is an over-cleaning at the position of each source. I have changed the iteration, but the result is the same.

Can this be due to the primary beam model ? The calibration works well without implementing the primar

[2015-08-26 10:59] o-smirnov commented on #53
Strictly speaking, it's oversubtraction, not overcleaning. That is, the flux in the LSM is overestimated, so too much is subtracted. This happens before any cleaning is done (so you should be able to see holes in the dirty image as well).

As to why this happens -- are you sure you've enabled the primary beam properly? Two things have to work correctly:

1. The "apparent" fluxes measured by PyBDSM

[2015-08-26 14:46] Ermiasabebe opened #54 "Generating Primary beam model for the KAT7"
The command to produce the primary beam model for the KAT7 from ASCII beam patterns to FITS files is:

for t in ampl real imag; do emss2fits.py --freqs=1440,1442,1445,1447,1450,1452,1455,1457,1460 --labels=a,b,c,d,e,f,g --$t -n 26 --scale=1.125 -d 0.78125  ../Patterns_origin/K7s_origin_h_@freq_@label.pat KAT7_H-chan-21-default-scale-1.125-delfreq-0.78125-$t; done

The images produced are:
![kat7-x

[2015-08-26 15:16] o-smirnov commented on #54
Yeah OK I see what's going on. The *.pat files indeed contain the X and Y response to H polarization. Which one is extracted is determined by the -x (default) or -y option. Note that H=Y on the sky (confusing but true). The default therefore is to extract the X response to the H(Y) component, i.e. the XY pattern, as we suspected.

You do realize a beam consists of four complex patterns, i.e. the E

[2015-08-26 16:52] Ermiasabebe commented on #54
The four amplitude beams are (i.e., XX,YY,YX,XY)

![kat7-xx-ampl-1 44ghz](https://cloud.githubusercontent.com/assets/11074927/9500042/69e937c4-4c23-11e5-87b7-1f38f027d98f.png)
![kat7-yy-ampl-1 44ghz](https://cloud.githubusercontent.com/assets/11074927/9500051/742c1c7e-4c23-11e5-9dce-9586f6158554.png)
![kat7-yx-ampl-1 44ghz](https://cloud.githubusercontent.com/assets/11074927/9500054/7d5fe69a-4c23-

[2015-08-26 17:01] o-smirnov commented on #54
Yep, looks correct now! (I reserve the right to discover we have the polarisations the wrong way 'round... maybe Sandeep can comment? But for now let's assume this is correct).

[2015-08-26 19:24] o-smirnov commented on #53
BTW please file future issues of this nature under https://github.com/ratt-ru/calibration-pipelines. This is a pipelines problem not a pyxis one.

[2015-08-26 19:24] #53 closed

[2015-08-26 19:25] o-smirnov commented on #49
Duplicates #42.

[2015-08-26 19:25] #49 closed

[2015-08-26 19:26] o-smirnov commented on #54
This also should have been filed in https://github.com/ratt-ru/calibration-pipelines

[2015-08-26 19:26] #54 closed

[2015-08-26 19:28] o-smirnov opened #55 "im.wsclean(weight=robust) not happy"
Passes argument to wsclean as ``-weight briggs`` but without the robustness factor. Related to @SpheMakh 's latest changes somehow.

[2015-08-26 19:29] #55 closed

[2015-09-03 12:24] KshitijT opened #56 "AWimager through pyxis ('im' module)"
It would be nice to be able to use awimager via the 'im' module in pyxis - it would be useful for imaging Lofar data, for example.

[2015-09-03 12:26] o-smirnov commented on #56
Oh yes I concur. :)

[2015-09-05 21:10] #27 closed

[2015-09-08 14:44] ulricharmel opened #57 "create_empty_ms issue"
I am currently trying to generate some measurement sets. I am using the ms.create_empty_ms command from ms in pyxis.
That is the error I get

File "./pyxis-variability.py", line 30, in make_ms
    ms.create_empty_ms(msname="ms_"+str(ms_num)+".MS",synthesis=synthesis, pos_type='casa',tel='KAT-7',**ms_cfg)
  File "/home/ulrich/builds/pyxis/Pyxides/ms.py", line 586, in create_empty_ms
    dfreq=dfreq

[2015-09-08 15:16] SpheMakh commented on #57
Here is a clue :)
[code]
You can either provide the lon/lat `ms.create_ms(..., lon_lat=(<lon>,<lat>), ..)` coordinates of KAT-7

Or (recomended) get an updated version [here](https://svn.cv.nrao.edu/svn/casa-data/distro/geodetic) then point edit your  `$HOME/.casarc` to point it:

[code]
then, open $HOME/.casarc with ur favourite text editor and make it look like this:

[code]

[2015-09-22 10:53] akotodanso opened #58 "ms.aoflagger"
aoflagger 2.7.1 fails on VLBA data set that works with aoflagger 2.6.0, where the latest version(2.7.1) is running on jake and the 2.6.0 running on elwood. This is even after running ms.pre on the VLBA data set.

Below is the error message,

AOFlagger 2.7.1 (2015-07-01) command line application
This program will execute an RFI strategy as can be created with the RFI gui
and executes it on one or s

[2015-09-22 17:34] #58 closed

[2015-10-01 14:51] o-smirnov opened #59 "need to implement ms.fixspwbackport"
See discussion https://github.com/ska-sa/meqtrees-cattery/issues/34, and solution given in

https://github.com/ska-sa/meqtrees-cattery/issues/34#issuecomment-144750733

Need to add a robust implementation of this to ``Pyxides/ms.py``.

[2015-10-03 09:51] o-smirnov opened #60 "lsm.pybdsm_search needs to simplify to incorporate https://github.com/ska-sa/tigger/issues/48"
Lots of hacky code in there, need to take it out since https://github.com/ska-sa/tigger/issues/48 is fixed.

[2015-10-03 11:50] o-smirnov opened #61 "im.lwimager.predict_vis() needs workaround for large model cubes"
In light of https://github.com/casacore/casarest/issues/9, we need to add a workaround in ``predict_vis``.

The obvious one is to split the model image into chunks so that "single-gulp" processing is guaranteed. Not sure how to estimate chunk size robustly yet, probably easier to just err on the low side. The processing is easy to set up with ``pyrap.images`` (in fact we need to use it in place of

[2015-10-03 15:02] o-smirnov commented on #61
Just to note that I have tested the predict in "overlap mode" (two cubes, overlapping by a single channel) as described above, and it works perfectly.

[2015-10-30 13:47] rdeane opened #64 "set thres_isl in lsm.pybdsm_search"
when running `lsm.pybdsm_search(<imagename>,threshold=<somevalue>)`

the pybdsm parameter `thres_pix` is set to `<somevalue>`, however, `thres_isl` is left unchanged. Could the code be modified to specify the latter please? It's pretty important for sparse arrays (i.e. VLBI).

[2015-10-30 13:51] o-smirnov opened #65 "need PYXIS_WRAPUP support"
The -w option can be used to add "wrapup" commands (i.e. executed after any run, success or fail). Useful for e.g. cloud support (-w "sudo halt") to halt instance after a run.

Need to expose this in a variable too, so wrapup commands can be added programmatically from within a pyxis script.

[2015-10-30 13:51] o-smirnov opened #66 "xr.sh() failing"
Complains about err_output not being a character buffer. Need to check if it's not None!

[2015-10-30 13:55] SpheMakh commented on #64
You can specify any pybdsm option via lsm.pybdsm_search().
lsm.pybdsm_search(thresh_isl=<some value>) should do the trick.

On Fri 30 Oct 2015, 15:47 Roger Deane <notifications@github.com> wrote:

[2015-10-30 13:58] rdeane commented on #64
nope, tried that:

RuntimeError: Input parameter 'thres_isl' not recognized.

[2015-10-30 14:11] KshitijT commented on #64
Should it not be 'thresh_isl' and not 'thres_isl'?

[2015-10-30 14:15] rdeane commented on #64
<checks watch, notes that it's Friday afternoon>

Thanks and apologies @KshitijT and @SpheMakh

[2015-10-30 14:21] #64 closed

[2015-10-30 14:40] o-smirnov commented on #64
If only it was always this easy!

[2015-10-30 15:41] modhurita commented on #30
PyBDSM in polarized mode is again not working for me; I get this error:

Here is the entire output:

[code]

I am working in this directory: `elwood: /home/mitra/MuellerMatrixCalibration`.

[2015-10-30 15:44] o-smirnov commented on #30
Hmmm, so what's changed from before? Is it perhaps that you now have a multi-channel cube, whereas before it was single channel? Could you please test whether it works with single-channel images? Also, will it work if you enable spectral mode?

[2015-10-30 15:50] modhurita commented on #30
It is a single channel image - it is this image: `/home/mitra/MuellerMatrixCalibration/VLAC_1GHZ_BW_50MHZ_CHANWIDTH_2_IQUV.MS.CORRECTED_DATA.channel.1ch.restored.fits`. It wasn't working for multichannel images, so I checked to see if it at least works for a single-channel image - it doesn't.

[2015-10-30 21:48] o-smirnov commented on #30
But this step works in the pipeline, so what's different?

On Fri, Oct 30, 2015 at 5:50 PM, Modhurita Mitra <notifications@github.com>
wrote:

[2015-11-02 12:49] modhurita commented on #30
Which pipeline do you mean? The 3C147 pipeline doesn't perform source extraction on any full-polarization image.

[2015-11-02 12:57] modhurita commented on #30
Also, can tigger-convert be modified so that one can choose to run it in either total intensity (dividing measured Stokes I by beam gain) or full polarization (multiplying measured Stokes vector by inverse of Mueller matrix) mode? Currently, the 3C147 pipeline is producing apparent LSMs which have only I, but the intrinsic LSMs produced by tigger-convert have non-zero I and Q but zero U and V.

[2015-11-13 10:48] gijzelaerr opened #68 "Add travis support and enable upload to pypi"

[2015-11-23 09:36] gijzelaerr commented on #68
working since https://github.com/ska-sa/pyxis/commit/e89a6ae9d6d599ee94dac0ac3c1d43747003547d

[2015-11-23 09:36] #68 closed

[2015-12-22 18:28] mcoriat opened #69 "Threshold option in lsm.pybdsm_search not passed to pybdsm anymore"
When running   `lsm.pybdsm_search(<imagename>, threshold=<somevalue>)`

then in pybdsm, `<somevalue>` is not passed to `thresh_pix` anymore. `thresh_pix` is set to default value. No error messages from pyxis.
Using directly `thresh_pix` as an option in `lsm.pybdsm_search()` works correctly though.

Attached is the pybdsm log file and the pyxis output
from the terminal which shows a first run using

[2016-01-18 09:38] #61 closed

[2016-01-18 09:38] #65 closed

[2016-01-18 09:38] #66 closed

[2016-01-25 12:13] o-smirnov opened #71 "need support for multiple MS in imaging"
Wsclean can support multiple MSs -- need to add this.

[2016-01-25 12:15] o-smirnov opened #72 "need ms.sumcols() function to sum visibility columns"

[2016-01-25 12:21] o-smirnov commented on #38
Duplicate of #60 I believe.

[2016-01-25 12:21] #38 closed

[2016-01-25 12:26] SpheMakh commented on #38
Maybe lsm.py should should use PyBDSM gaul FITS output instead of the ASCII output; The FITS files have better accuracy.

[2016-02-05 12:03] Ermiasabebe opened #74 "im.wsclean with *wsclean-first-residual.fits and **wsclean.restored.fits"
When I made image after simulation, I found an image with **wsclean-first-residual.fits besides the *wsclean.residual.fits. The fluxes in the **wsclean-first-residual.fits* are almost half of that of the *wsclean.restored.fits. That means the fluxes in the initial skymodel will be shared between *wsclean-first-residual.fits* and *wsclean.restored.fits.

I expect that the fluxes in the wsclean.rest

[2016-02-05 12:07] Ermiasabebe commented on #74
Correction:
The fluxes in the *wsclean-first-residual.fits* are almost equal to that of the wsclean.restored.fits.

[2016-02-05 12:22] modhurita commented on #74
I too have got that first-residual.fits file as one of the outputs from wsclean, though I don't know what its significance is. Which wsclean are you using? The one specified in the 3C147 pipeline doesn't seem to be currently working for me:

-bash: /home/oms/src/wsclean-code/wsclean/build/wsclean: No such file or directory

[2016-02-05 12:41] Ermiasabebe commented on #74
@modhurita. I am using wsclean version of 1.9. I am not sure which version 3C147 pipeline  is using. The lwimager is too slow and it doesn't use "DATA" column to produce image though it is possible to copy the "DATA" column to "CORRECTED_DATA" and produce image.

[2016-02-05 12:45] SpheMakh commented on #74
I usually just ignore that *first-residual.fits* file

[2016-02-05 12:52] Ermiasabebe commented on #74
@SpheMakh: What I found strange is that the fluxes in the wsclean-first-residual.fits are almost equal to that of the wsclean.restored.fits. The fluxes in the initial skymodel are shared between these two images.

[2016-03-12 11:20] o-smirnov opened #75 "Pyxides package in Cattery confuses pyxis"
Cattery/Pyxides exists, so if a Cattery is in the ``PYTHONPATH`` before ``pyxis``, then pyxis fails to import its own Pyxides package.

Solution is to rename Cattery/Pyxides into Cattery/Pyxides-modules, and modify the pyxis import logic to scan the path for Pyxides-modules.

[2016-03-12 11:21] o-smirnov opened #76 "pyxis -D modulename should document the named module"
Currently, e.g. ``pyxis -D ms.info`` works, but ``pyxis -D ms`` doesn't.

[2016-03-12 11:41] o-smirnov commented on #75
Added explicit path to the standard Pyxides (taken relative to Pyxis package), this is safer. Not sure if I want to rename the Cattery one anymore, although @gijzelaerr will probably tell me off for this.

[2016-03-14 14:12] gijzelaerr commented on #75
current state of pyxis - if it works don't touch it. So whatever is required do it, otherwise leave me out of it :P

[2016-04-01 16:02] alex-onose opened #78 "Zero values for the visibilities depending on simulation time"
When using lwimager.predict_vis I am getting strange behaviour for some of the uv points.
The UV coordinates are correct but the associated predicted visibilities are set to zero.

In all simulations the first predicted visibilities are correct. Later on more and more are set to zero.
I'm not very familiar with the tools so it might just be something obvious that i'm missing.
There are no errors i

[2016-04-06 09:47] o-smirnov commented on #78
Very curious, looks like lwimager is simply ignoring some MS rows (since as you say they're also not taken into account in clean). Could be a data selection issue. Please paste the logs from the relevant lwimager and wsclean invocations here.

[2016-04-06 13:48] #60 closed

[2016-04-06 14:36] o-smirnov opened #79 "use multiprocessing.Queue to pass jobs to forked processes"
Rather than pre-assigning jobs to spawned children, use a Queue. This should achieve better load balancing.

[2016-04-07 09:20] alex-onose commented on #78
Here are the logs:
lwimager + casa

[log-pyxis.txt](https://github.com/ska-sa/pyxis/files/208032/log.txt)
[log-simms.txt](https://github.com/ska-sa/pyxis/files/208033/log-simms.txt)

wsclean
[log-wsclean.txt](https://github.com/ska-sa/pyxis/files/208069/log-wsclean.txt)

[2016-04-07 09:50] o-smirnov commented on #78
Odd. From the logs it does not seem like a data selection problem.

Can you check if the missing visibilities are flagged (FLAG and FLAG_ROW columns)?

[2016-04-07 10:35] alex-onose commented on #78
FLAG contains only zeros on all 4 columns
FLAG_ROW has some non-zero entries but not on the positions where the visibilities are set to 0.

I've attached a figure
![vis_vs_flag_row](https://cloud.githubusercontent.com/assets/12749656/14348471/93cbbc32-fcb4-11e5-84e8-087bd49e00f7.png)

[2016-04-07 10:37] o-smirnov commented on #78
Check also the WEIGHT and WEIGHT_SPECTRUM columns.

Also, can you put the MS and the image on Dropbox or something?

On Thu, Apr 7, 2016 at 12:35 PM, alex-onose <notifications@github.com>
wrote:

[2016-04-07 10:59] alex-onose commented on #78
The weights are all 1.
There is no WEIGHT_SPECTRUM column.

I've put the files on [dropbox](https://www.dropbox.com/s/xycju8eraz5bpp1/MS_files.zip)

[2016-04-08 13:19] gijzelaerr commented on #75
i think a relative import should solve this problem

https://docs.python.org/2.5/whatsnew/pep-328.html

[2016-06-15 13:25] o-smirnov commented on #78
OK I think we figured this one out, it was due to CASA flagging points with elevation<0.

[2016-06-15 13:25] #78 closed

[2016-06-15 13:26] #75 closed

[2016-06-15 13:26] #76 closed

[2016-06-15 13:26] #71 closed

[2016-06-15 13:26] #72 closed

[2016-06-15 13:29] o-smirnov opened #80 "LD_LIBRARY_PATH setting not passed into screen session"
When running a pyxis script with automatic screen support, LD_LIBRARY_PATH gets unset inside the screen session. Seems to be a [fundamental reason](http://superuser.com/questions/153420/why-does-my-ld-library-path-get-unset-when-using-screen-with-bash) for this.

The solution is to run bash as an interactive shell inside the screen.

[2016-07-19 13:54] JulienNGirard opened #81 "Accommodating for latest WSClean versions >1.9 (wsclean error cause by -makepsf -> -make-psf since v1.11)"
Running pyxis with WSclean v1.12 issue an error when trying to run wsclean command along with its default options.
It failed because since WSClean version 1.11  "-makepsf" is has become "-make-psf"

see:
https://sourceforge.net/p/wsclean/wiki/Changelog-1.11/

From what I see from the pyxide wsclean.py, the latest accommodated version is 1.9.

at L.40 "_wsclean_known_args"  needs to be altered to t

[2017-01-25 08:42] SpheMakh opened #84 "Pyxides.im module needs an upgrade."
There has been new releases of imagers and some have backwards compatibility issues as stated [here](https://github.com/ska-sa/simulator/issues/8)

[2017-02-17 10:33] #79 closed

[2017-02-17 10:33] #80 closed

[2017-05-09 10:54] o-smirnov opened #86 "Quotes not interpreted correctly with pyxis -S"
[code]
But without the -S option everything works fine. Reported by @rdeane.

[2017-05-20 14:05] rdeane opened #87 "ms.plot_uvcov does not consider flag column"
minor issue, but thought I'd post nonetheless. Try flagging half of a 24 hour run and you'll still see full uvtracks in the output figure using ```ms.plot_uvcov```

[2017-05-21 05:58] IanHeywood commented on #87
Does the use_flags switch solve this one?

https://github.com/ska-sa/pyxis/blob/master/Pyxides/ms.py#L255

[2017-05-22 09:29] rdeane commented on #87
Surprise, surprise - Roger didn't read the $%#&ing manual... Thanks @IanHeywood !

[2017-05-22 09:29] #87 closed

[2017-05-22 11:43] IanHeywood commented on #87
Never trust anyone who does.

[2018-12-04 06:55] gijzelaerr opened #88 "port to py3"

[2018-12-21 10:50] gijzelaerr commented on #88
it sort of works now!

[2018-12-21 10:50] #88 closed

[2019-01-13 13:57] bennahugo opened #89 "python3 support not working"
A lot is still broken regarding python 3 support, primarily in the fileio handling in Internals

[2019-01-15 16:50] gijzelaerr commented on #89
with pyxis? i never made an argo package?

[2019-01-15 17:06] SpheMakh commented on #89
I know pyxis has an argo.py file https://github.com/ska-sa/pyxis/blob/master/Pyxides/im/argo.py, maybe that's related somehow?

[2019-01-15 18:43] o-smirnov commented on #89
Yeah totally different argo, nothing to do with pyxis. How did it end up as a dependency?

[2019-01-15 21:57] bennahugo commented on #89
My bad. It doesn't import in the python3 version for some reason. I'll investigate tomorrow

[2019-01-15 22:02] bennahugo commented on #89
btw @gijzelaerr your PPA python-owlcat does not install a python3 egg, so it requires pip installing from the repository.

[2019-01-16 05:32] gijzelaerr commented on #89
I stopped porting when I reached meqtrees-timba, that requires a lot of work to make it work. So all packages depending on timba are not python3 packaged.

It is not hard to port timba to py3, but it is hard to support py3 and py2 at the same time. I recommend making the big switch in one go, when everybody and everything is ready.

[2019-01-16 06:36] gijzelaerr commented on #89
This depends on:

https://github.com/casacore/casacore/pull/853
https://github.com/casacore/python-casacore/pull/159

I think by now it all works properly with py3, but for py2 sometimes a unicode object slips in, and casacore doesn't support unicode fully yet. I've been wrestling with this for a while but got a bit stuck and ran out of time, and now I'm waiting for Ger to see what he can do.

The

[2019-01-16 07:57] bennahugo commented on #89
Okay I also opt for saying KERN:4 will be the last deployment that supports python 2.7. The userbase (whether it is RARG/COMM/SDP can then change their dockerfiles appropriately. The distutils files should handle the python requirements, e.g. astropy 2 or latter depending on whether the user runs python 2.7 or 3

[2019-01-16 07:58] bennahugo commented on #89
This still gives us the ability to gradually stage in python3

[2019-01-23 11:55] gijzelaerr commented on #89
what is the status of this argo dependency? Is py3 support in pyxis still an issue?

[2019-02-01 10:16] bennahugo commented on #89
Looks like the pyxis issues are all fixed @gijzelaerr. Only getting back onto it now, but still need to port timba, owlcat, purr, kittens and tigger-lsm. Bit of a mess to test this

[2019-02-01 10:16] #89 closed

[2020-07-02 12:22] matthieutrs opened #98 "'Pyxis.Commands' has no attribute 'loadconf'"
Hello,

We managed to build Pyxis from source just fine. Yet, when launching some pyxis commant, we keep getting that error message:

[code]

Would have any clue on how to solve this?

[2020-07-02 13:16] o-smirnov commented on #98
Strange how this bug slipped through all this time! Could you try changing the offending line to plain:
[code]
and see if that solves the problem?

[2020-07-02 13:37] matthieutrs commented on #98
That solved the issue, thanks a lot!!

[2020-07-02 13:37] #98 closed

[2020-07-02 16:25] matthieutrs opened #100 "TypeError: exec() arg 1 must be a string, bytes or code object"
Hello,

I am trying to use pyxis with loading .conf and .py files. More precisely, I have 2 files (named `pyxis-ckat.py` and `pyxis-ckat.conf`) in some folder and I'm autoloading them. Yet I receive the following error message:

[code]

This is a procedure I was using before moving to 1.7.0 and that was working fine, so I doubt that the problem comes from my `pyxis-ckat.py` and `pyxis-ckat.conf` f

[2020-07-03 08:35] matthieutrs commented on #100
I also get the same error message when using the .py and .conf files from `/Pyxis/doc/example`.

[2020-07-03 09:40] o-smirnov commented on #100
Another casualty of the Python3 transition... Sorry, doesn't look like we tested it very well with py3!

Could you try changing the offending statement to
[code]
and let me know if that works?

[2020-07-03 14:28] adrianjhpc commented on #100
I'm doing the install for @matthieutrs, should that be:
exec open(filename, "rt") in Pyxis.Context;
@o-smirnov? Or does python not care?

[2020-07-03 14:46] adrianjhpc commented on #100
```open(filename, "rt") in Pyxis.Context; ``` seems to have done the trick

[2020-07-03 15:04] matthieutrs commented on #100
Thanks a lot @o-smirnov and @adrianjhpc, that problem is solved!

I'm facing another one now: the procedures defined in my `pyxis-*.py` files are unrecognized.

More precisely, I set the pyxis-wsrt21cm.py file from the [example](https://github.com/ska-sa/pyxis/blob/master/Pyxis/doc/example/pyxis-wsrt21cm.py) in my base directory and I then run `pyxis cal_ms`. The command returns:

[code]

I don't

[2020-07-03 15:19] bennahugo commented on #100
Apologies I only ported the necessary bits of pyxis to perform the meqtrees
tests and didn't extensively test it. I was under impression it was
abandonware since we now have switched to things like stimela to pipeline
instead.

Please raise issues and I will get back to it when I return from leave.

On Fri, Jul 3, 2020 at 5:05 PM matthieu.trs <notifications@github.com>
wrote:

--
--
Benjamin Hugo

[2020-07-03 15:35] matthieutrs commented on #100
Ok, thanks! I'm raising a new issue as this one has been solved thanks to @o-smirnov and @adrianjhpc.

[2020-07-03 15:35] #100 closed

[2020-07-03 15:44] matthieutrs opened #101 "Procedures from pyxis-*.py files not loaded"
Hello,

This issue follows the resolution of [#100](https://github.com/ska-sa/pyxis/issues/100). After building from source v.1.7.0, the procedures defined in pyxis-*.py files seem unrecognized.

More precisely, I set the pyxis-wsrt21cm.py file from the [example](https://github.com/ska-sa/pyxis/blob/master/Pyxis/doc/example/pyxis-wsrt21cm.py) in my base directory and I then run `pyxis cal_ms`. The

[2020-07-04 09:42] o-smirnov commented on #100
Not so much abandonware as neglectware... It can still be useful for ad hoc processing scripts, so I'd like to fix it.

Since @bennahugo got most of it to work, I'm sure it's just a few odds and ends that need fixing. I'll take a look.

My fault for not providing proper test coverage in the first place!

[2020-07-04 17:09] o-smirnov commented on #101
@matthieutrs could you please try the ``issue-101`` branch, and let me know if that fixes things? The example now runs for me.

[2020-07-14 14:30] o-smirnov opened #102 "syntax error during install from KERN-6"
Looks like a py3 port breakage.
[code]

[2020-07-14 16:38] matthieutrs commented on #101
Thanks a lot, it is now fixed!

[2020-07-14 16:38] #101 closed

[2020-07-14 17:00] matthieutrs opened #103 "Fail to write log output"
Hello,

This issue follow the resolution of [#101](https://github.com/ska-sa/pyxis/issues/101) and the building of Pyxis from source. When loading some pyxis-smh.py/pyxis-smh.conf files, I get the following error message:

[code]

Would you have any hint on how to solve this?

[2020-07-14 17:13] matthieutrs commented on #103
@adrianjhpc solved this by changing `mode="wa"` to `mode="a"` in [Pyxis/Internals.py](https://github.com/ska-sa/pyxis/blob/13247b8f59500445c37c83634799b2727f96bd25/Pyxis/Internals.py#L728).

[2020-07-14 18:13] o-smirnov commented on #103
Yep, I was about to push the same change to the ``issue-101`` branch. But I'd like to sort out #102 while I'm at it...

[2020-07-14 18:15] o-smirnov commented on #102
@Athanaseus @gijzelaerr help I don't get it. It's clunky horrible old code, but I don't see the syntax error.

What's more, I can ``pip install -e pyxis`` this into both a py2 and a py3 virtualenv, and neither of them throws a syntax error on this module. So what's different about the deb package?

[2020-07-14 18:45] gijzelaerr commented on #102
deb pre compiles the python files into pyc, that fails. not sure why that happens for a py2 package though. maybe it is actually py3 code not compatible with py2 env

[2020-07-14 19:41] o-smirnov commented on #102
But I can run this in py2 or py3 when I do it locally... so what's different about how deb runs it?

[2020-07-14 19:43] o-smirnov commented on #102
And what's wrong with the code anyway. Seems legit to me. Unless it's not picking up that this is a continuation line somehow?

[2020-07-14 20:55] Athanaseus commented on #102
Ah this was fixed by #94 after the release. Can make a patch for this or wait for the next release?

[2020-07-15 08:25] o-smirnov commented on #103
@matthieutrs, would you please let us know when you think all your previous scripts are working? We'll make a point release then.

[2020-07-15 08:26] o-smirnov commented on #102
Let's merge #104, and give @matthieutrs another couple of days, as he seems to have a knack for turning up bugs. Then we make a patch.

[2020-07-15 10:57] matthieutrs commented on #103
@o-smirnov we had to do 1 last change [here](https://github.com/ska-sa/pyxis/blob/4bf8c7e79f7f1cb4f3e941a40275f24dd36c408c/Pyxis/Internals.py#L790):
```Pyxis.Context[mod] = sys.modules.get(mod,sys.modules.get("Pyxides."+m));```
was replaced by
```Pyxis.Context[mod] = sys.modules.get(mod,sys.modules.get("Pyxides."+mod));```
Our installation of Pyxis from source now works like a charm!

[2020-07-15 11:09] o-smirnov commented on #103
Ah thanks. Now that was a genuine old-time bug that moving to a new Python exposed.

[2020-07-15 11:11] #103 closed

[2020-07-15 11:14] o-smirnov commented on #102
OK, @matthieutrs reports success -- I've made a 1.7.1 release, let's push that into KERN.

[2020-07-15 16:05] Athanaseus commented on #102
Now on KERN.

[2022-06-08 09:49] kamva1 opened #108 "Meqtrees: NameError [name 'im' is not defined]"
so this happens when I am running the meqtrees simulation script. (e.g python sim_time.py). This is on both ike and jake (python 2.7_. see the output below:

[code]
@o-smirnov

[2022-06-08 13:56] bennahugo commented on #108
that does not work. Imports are missing. I'm testing a fix now, so far so good I just need to make sure it passes all other tests

[2022-06-08 14:01] bennahugo commented on #108
Ok it runs through under the python3 and all tests pass locally. No guarantees for py2.7 -- I don't think the package will still work with python2.7, there has been lots of changes since then including to the hashbangs at the top which are needed to run in environments without python2.

[code]